@model RegjistriCivil.Models.BirthCertificate

@{
    ViewData["Title"] = "Create Birth Certificate";
}

<div class="container">
    <h1>Create Birth Certificate</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DocumentIssuedBy" class="control-label"></label>
                    <input asp-for="DocumentIssuedBy" class="form-control" readonly="readonly" />
                    <span asp-validation-for="DocumentIssuedBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DocumentIssuingDate" class="control-label"></label>
                    <input asp-for="DocumentIssuingDate" class="form-control" readonly="readonly" />
                    <span asp-validation-for="DocumentIssuingDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SerialNumber" class="control-label"></label>
                    <input asp-for="SerialNumber" class="form-control" />
                    <span asp-validation-for="SerialNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReferenceNumber" class="control-label"></label>
                    <input asp-for="ReferenceNumber" class="form-control" />
                    <span asp-validation-for="ReferenceNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Municipality" class="control-label"></label>
                    <input asp-for="Municipality" class="form-control" />
                    <span asp-validation-for="Municipality" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Person.FirstName" class="control-label"></label>
                    <input asp-for="Person.FirstName" class="form-control" />
                    <span asp-validation-for="Person.FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Person.LastName" class="control-label"></label>
                    <input asp-for="Person.LastName" class="form-control" />
                    <span asp-validation-for="Person.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.DateOfBirth" class="control-label"></label>
                    <input asp-for="Person.DateOfBirth" class="form-control" />
                    <span asp-validation-for="Person.DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.PlaceOfBirth" class="control-label"></label>
                    <input asp-for="Person.PlaceOfBirth" class="form-control" />
                    <span asp-validation-for="Person.PlaceOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.Gender" class="control-label"></label>
                    <select asp-for="Person.Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
                        <option value="">Please select gender</option>
                    </select>
                    <span asp-validation-for="Person.Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.PersonalNumber" class="control-label"></label>
                    <input asp-for="Person.PersonalNumber" class="form-control" />
                    <span asp-validation-for="Person.PersonalNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.Nationality" class="control-label"></label>
                    <input asp-for="Person.Nationality" class="form-control" />
                    <span asp-validation-for="Person.Nationality" class="text-danger"></span>
                </div>

                <h3>Father</h3>
                @* Father Details *@
                <div class="form-group">
                    <label asp-for="FatherDetails.FirstName" class="control-label"></label>
                    <input asp-for="FatherDetails.FirstName" class="form-control" />
                    <span asp-validation-for="FatherDetails.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FatherDetails.LastName" class="control-label"></label>
                    <input asp-for="FatherDetails.LastName" class="form-control" />
                    <span asp-validation-for="FatherDetails.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FatherDetails.DateOfBirth" class="control-label"></label>
                    <input asp-for="FatherDetails.DateOfBirth" class="form-control" />
                    <span asp-validation-for="FatherDetails.DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FatherDetails.PlaceOfBirth" class="control-label"></label>
                    <input asp-for="FatherDetails.PlaceOfBirth" class="form-control" />
                    <span asp-validation-for="FatherDetails.PlaceOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FatherDetails.Nationality" class="control-label"></label>
                    <input asp-for="FatherDetails.Nationality" class="form-control" />
                    <span asp-validation-for="FatherDetails.Nationality" class="text-danger"></span>
                </div>

                <h3>Mother</h3>

                @* Mother Details *@
                <div class="form-group">
                    <label asp-for="MotherDetails.FirstName" class="control-label"></label>
                    <input asp-for="MotherDetails.FirstName" class="form-control" />
                    <span asp-validation-for="MotherDetails.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MotherDetails.LastName" class="control-label"></label>
                    <input asp-for="MotherDetails.LastName" class="form-control" />
                    <span asp-validation-for="MotherDetails.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MotherDetails.DateOfBirth" class="control-label"></label>
                    <input asp-for="MotherDetails.DateOfBirth" class="form-control" />
                    <span asp-validation-for="MotherDetails.DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MotherDetails.PlaceOfBirth" class="control-label"></label>
                    <input asp-for="MotherDetails.PlaceOfBirth" class="form-control" />
                    <span asp-validation-for="MotherDetails.PlaceOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MotherDetails.Nationality" class="control-label"></label>
                    <input asp-for="MotherDetails.Nationality" class="form-control" />
                    <span asp-validation-for="MotherDetails.Nationality" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
